mixin testimonials(photo, title,description,author,activity)
  img.item__img(src=photo, alt="avatar")
  img.item-kovichki(src="images/kovichki.png", alt="")
  .item-title=title
  .item-description=description
  .item-author=author
  .item-activity=activity